@font-face {
  font-family: "ubuntu";
  src: url(/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "ubuntu", sans-serif;
  width: 100%;
}

footer,
header,
nav,
section,
main {
  display: block;
}

img,
video {
  display: block;
  max-width: 100%;
}

/* ===========================
      Secondry Header
 ============================= */

.hamburger-sec {
  display: none;
  cursor: pointer;
}

.sec-header-container {
  background-color: #f7f7f7;
}

.sec-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  margin-left: auto;
  margin-right: auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  display: flex;
}

p {
  font-size: 15px;
  line-height: 1.7;
}

.login-phone-email {
  display: flex;
  gap: 85px;
  margin-left: 10px;
}

.login {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.login-registration-text a {
  color: #eb3751;
}

.phone-section {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.email-section {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.phone-email-container {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 50px;
}

.professional-text {
  color: #b7b7b7;
  margin-left: 58px;
  font-size: 14px;
}

.social-icon-ul .social-icon-li a {
  margin-right: 15px;
}

/* ===========================
      Secondry Header End
 ============================= */

/* ===========================
      Main Header Start
 ============================= */

#main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 100px;
  gap: 40px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #464646;
}

.header-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.logo-img-icon {
  padding-right: 10px;
}

.nav-items-ul .nav-items-li a {
  font-size: 16px;
  padding-right: 20px;
  color: #eb3751;
  text-transform: uppercase;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #eb3751;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: #eb3751;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 85px;
  margin-left: 10px;
}

/* ===========================
      Main Header End
============================== */

/* ========================================
                  Hero Page 
=========================================== */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

#swiper-pagination {
  left: 90%;
  bottom: 30%;
}

.background-img {
  width: 100%;
  height: 400px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.hero-text {
  text-align: start;
  padding-top: 50px;
}

.modera-heading {
  color: #fff;
  font-size: 32px;
  text-transform: capitalize;
}

.hero-para {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 20px;
}

.price {
  color: #fff;
  padding: 4px;
}

.price strong {
  font-size: 20px;
}

.book-now {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.swiper-pagination {
  width: 20px;
  height: 22px;
}

/* ===================================
            Foam Section 
====================================== */

.search-foam {
  margin-bottom: 50px;
  max-width: 1140px;
  width: 100%;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.25),
    0px 0px 0.1px 0px rgba(0, 0, 0, 0.25);
}

#foam-section .container {
  padding-left: 0;
  padding-right: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 15px;
  padding-right: 15px; */
  max-width: 1160px;
}

.foam-box {
  background-color: #fff;
  padding: 20px 20px 10px 35px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}

.heading {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.first-line {
  display: flex;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.pro-box {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 20px;
  gap: 10px;
}

select {
  width: 250px;
  padding: 15px 8px;
}

.pr-box {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.pro-box input {
  padding: 15px 8px;
  width: 250px;
}

.price-input {
  display: flex;
}

.price-range-display {
  display: flex;
  flex-wrap: wrap;
}

.price-range {
  padding-right: 20px;
}

.min-bd-bt {
  display: flex;
}

.separator {
  padding-left: 10px;
  padding-right: 10px;
}

.input-min {
  max-width: 140px;
  width: 100%;
  padding: 15px 8px;
}

.input-max {
  max-width: 140px;
  width: 100%;
  padding: 15px 8px;
}

.min-bed select {
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
}

.min-bath select {
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
}

.area-sqft {
  padding-right: 20px;
}

.para {
  color: #fff;
}

.clr-wh {
  color: #000;
}

.range-slider {
  margin-top: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #b7b7b7;
  max-width: 85%;
  position: relative;
}

.range-slider .progress {
  height: 5px;
  /* left: 15%;
  right: 15%; */
  max-width: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: #eb3751;
}

.range-slider .progres-1 {
  left: 0;
  right: 15%;
}

.range-slider .progres-2 {
  left: 15%;
  right: 0;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 85%;
  background: none;
  appearance: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  appearance: none;
  background-color: #eb3751;
  max-width: 100%;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  --moz-appearance: none;
  background-color: #eb3751;
  max-width: 100%;
}

.search {
  padding: 10px 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: #eb3751;
  color: #fff;
  height: 51px;
  margin-top: 27px;
  cursor: pointer;
  letter-spacing: 1px;
}
.foam-footer {
  padding-top: 20px;
}

.plus-text-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.plus-text-box p {
  color: #eb3751;
  font-size: 14px;
}

/* ===============================================================
                      Categorise Section 
================================================================== */

.heading-categorise {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

.heading-categorise::after {
  content: "";
  display: block;
  width: 75px;
  height: 1.5px;
  margin-block-start: 20px;
  background-color: #eb3751;
}

.images-section {
  margin-top: 40px;
}

.display-grid {
  display: grid;
  /* grid-template-rows: repeat(2, auto); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.img-dg {
  position: relative;
  padding-bottom: 30px;
}

.img-text-1 {
  position: absolute;
  /* text-align: center; */
  transform: translateY(-100%);
  left: 5%;
  padding-bottom: 10px;
}

.last-2 {
  margin-bottom: 10px;
}

.img-text-1 p {
  color: #fff;
}

.para {
  font-size: 24px;
}

.sec-para {
  font-size: 14px;
}

/* ================================
              Cards Section
===================================*/

.semi-properties-text {
  font-size: 42px;
  text-transform: capitalize;
}

.semi-properties-text::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #eb3751;
  margin-block-start: 20px;
}

.card-container {
  padding-top: 80px;
}

.cards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.card {
  max-width: 350px;
  margin-top: 40px;
  /* box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.25); */
}

.card-image-part {
  position: relative;
}

.price-tag {
  position: absolute;
  right: 0;
  bottom: 5%;
  background-color: #eb3751;
  padding: 5px 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.card-text-content {
  padding-bottom: 10px;
}

.heading {
  color: #eb3751;
  font-size: 18px;
  font-weight: 600;
}

.card-text-content .display-grid-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-icon {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-icon p {
  font-size: 14px;
}

.card-para {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.view-all-btn {
  padding: 10px 30px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  background-color: #eb3751;
  color: #fff;
  border: 1px solid #eb3751;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

/* ===================================================
                Our Services 
======================================================*/

.our-section-container {
  background-color: #282e3e;
}

.our-section-container .container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
}

.heading-our-section {
  height: fit-content;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 20px;
  /* padding-left: 20px; */
  padding-top: 40px;
}

.heading-our-section::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin-block-start: 20px;
  background-color: #eb3751;
}

.heading-our-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 40px;
}

.grid-col-1 {
  display: flex;
}

.pets-img {
  max-width: 70px;
  max-height: 70px;
}

.our-paragraph {
  margin-top: 15px;
  padding-left: 20px;
}

.our-paragraph p {
  color: #ffffff;
  font-size: 14px;
}

.our-paragraph h3 {
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

/* .our-services {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
} */

#our-sec .container {
  /* margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px; */
}

/* =================================================
                User Id Section
==================================================== */

.swiper-name {
  width: 100%;
  height: 100%;
}

.swiper-slides {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slides img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

#swiper-button-next-02,
#swiper-button-prev-02 {
  color: #fff;
}

.user-img p {
  color: #fff;
}

.user-img {
  position: relative;
}

.name-carector {
  position: absolute;
  left: 7%;
  bottom: 5%;
  text-align: start;
  line-height: 1.6;
}

.user-name {
  font-size: 20px;
}

.realtor {
  font-size: 12px;
}

/* =================================================
                 Testimonial
==================================================== */
.coment-container {
  text-align: start;
}

.cirol-color {
  width: 50px;
  height: 50px;
  background-color: #eb3751;
  border-radius: 50%;
  border: none;
}

.testimonial {
  padding-bottom: 20px;
}
.testimonial::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  /* margin-inline: auto; */
  margin-block-start: 10px;
  background-color: #eb3751;
}

.comments-section {
  display: flex;
  /* height: 200px; */
  padding-bottom: 40px;
}

.swiper-slide .coment-container {
  padding: 40px 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  width: 100%;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.cmt-name {
  margin-right: 40px;
}

.name {
  font-size: 18px;
  text-transform: capitalize;
}

.comment {
  font-size: 14px;
  font-style: italic;
}
/* .swiper-pagination-00-bullet.swiper-pagination-00-bullet-active.swiper-pagination-00-bullet-active-main {
  background-color: #eb3751;
} */
/* =================================================
                Footer
==================================================== */

.f-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282e3e;
  padding: 20px;
}

.f-img-logo-1 {
  padding-right: 10px;
}

.f-logo-img {
  display: flex;
}

.copyright-text {
  color: #b7b7b7;
}
.copyright-text p {
  font-size: 12px;
}
/* ===============================================================
                      Meqia Query Section 
================================================================== */

@media (max-width: 2560px) {
  body {
    width: 100%;
  }

  .user-id-name .swiper-slide {
    background-color: #cecece;
  }
}
@media (max-width: 1440px) {
  body {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .hamburger-navbar {
    position: absolute;
    left: -100%;
    top: 126px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 100%;
    text-align: center;
    transition: 0.8s;
    z-index: 2;
    height: 100px;
  }

  .hamburger-navbar.active {
    left: 0;
  }

  .nav-items-ul {
    width: 100%;
    /* padding-top: 40px; */
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
  }

  /* Secondry Header */

  .hamburger-sec {
    display: block;
  }

  .hamburger-sec.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-sec.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger-sec.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .hamburger-sec-navbar {
    position: absolute;
    left: -100%;
    top: 59px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(235, 55, 81, 01);
    width: 100%;
    max-width: 100%;
    text-align: center;
    transition: 0.8s;
    z-index: 1;
    height: 68px;
  }

  .hamburger-sec-navbar.active {
    left: 0;
  }

  .phone-email-container {
    justify-content: center;
    padding-top: 20px;
  }

  .phone-email-container p {
    color: #fff;
  }

  .hero-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .clr-wh {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .min-bd-bt {
    margin-top: 20px;
  }

  .foam-box {
    padding: 20px;
  }

  .catog-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-container {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-services {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .hamburger-navbar {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .hamburger-navbar .nav-items-ul {
    flex-direction: column;
    gap: 40px;
  }

  .nav-items-ul .nav-items-li a {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
  }

  .nav-items-ul .nav-items-li a:hover {
    color: #eb3751;
    cursor: pointer;
  }

  .card-icon {
    gap: 8px;
  }

  .para {
    font-size: 22px;
  }

  .img-dg {
    padding-bottom: 18px;
  }

  p {
    font-size: 14px;
  }

  .user-name {
    font-size: 18px;
  }

  .cards-box {
    grid-template-columns: 1fr 1fr;
  }

  .min-bd-bt {
    flex-wrap: wrap;
  }

  .text-box {
    padding-bottom: 20px;
  }

  .display-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px; */
  }

  .last-2 {
    display: contents;
  }

  .img-dg {
    padding-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .cards-box {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 395px;
  }

  .price-field {
    margin-top: 15px;
  }

  .display-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .nav-logo {
    margin-left: 0;
    gap: 20px;
  }

  .hamburger-sec-navbar {
    background-color: rgb(235, 55, 81, 01);
    min-height: 47.6vh;
    z-index: 2;
  }

  .phone-email-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
  }

  .phone-email-container p {
    font-size: 22px;
  }

  .professional-text {
    font-size: 18px;
  }

  .header-container {
    padding: 15px 8px;
  }

  .heading-our-services {
    grid-template-columns: 1fr;
  }

  .comments-section {
    display: contents;
  }

  .cmt-name {
    margin-bottom: 20px;
  }

  .f-content {
    flex-direction: column;
    gap: 10px;
  }

  .user-name {
    font-size: 14px;
  }

  .submit-btn {
    padding: 10px 14px;
    font-size: 14px;
  }

  .logo-img-icon {
    padding-right: 4px;
  }

  .login-registration-text a {
    font-size: 12px;
  }

  .sec-header {
    padding: 10px;
  }

  .hamburger-navbar {
    top: 112px;
  }

  option {
    font-size: 14px;
    width: 150px;
  }

  .user-id-name {
    display: none;
  }
}

@media (max-width: 320px) {
  .header-container {
    flex-wrap: wrap;
  }

  .submit-btn {
    margin-top: 10px;
  }

  .nav-logo {
    gap: 100px;
  }

  .sec-header {
    flex-wrap: wrap;
  }

  .pro-box {
    padding-right: 4px;
  }

  .pro-box input {
    width: 220px;
  }

  select {
    width: 220px;
  }
}
